.wrapper {
    width: 75vw;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    background-color: white;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}

.search-filter-text {
    margin: 0;
    font-size: .9rem;
    margin-bottom: 5px;
}