.date-and-time {
    width: 75vw;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;

    h3 {
        margin: 0;
        font-size: .9rem;
        
    }

    p {
        font-size: 1rem;
        margin: 0;
        letter-spacing: .25px;
    }
}