
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
$background-color: lightgray;

body {
    background-color: $background-color;
    font-family: 'Poppins', sans-serif;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    background: red;
}